.infoBox {
    background: #e9ebec;
    padding: 0.2rem;
    border-radius: 0.3rem;
    margin: auto;
}
.infoBox p {
    margin-bottom: 0;
}
.userImg {
    height: 40px!important;
    width: 40px!important;
    border-radius: 50%;
}
.userEmail, .title {
    font-weight: 600;
}
.title {
    margin: 0.5rem 0;
}
.imgBox {
    text-align: center;
    background-color: rgba(13, 109, 253, 0.445);
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
}
.imgBox img {
    height: 250px;
}
.highlight {
    color: #0d6efd;
    margin-right: 0.1rem;
}
.description {
    font-size: .9375rem;
}